<!-- BEGIN_INCLUDE(watson-visual-recognition:classifyImage) -->
	<watson-visual-recognition:classify-image config-ref="Configuration"
		url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Watson Visual Recognition"/>       
<!-- END_INCLUDE(watson-visual-recognition:classifyImage) -->

<!-- BEGIN_INCLUDE(watson-visual-recognition:detectFaces) -->
	<watson-visual-recognition:detect-faces config-ref="Configuration"
		url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Watson Visual Recognition"/>       
<!-- END_INCLUDE(watson-visual-recognition:detectFaces) -->

<!-- BEGIN_INCLUDE(watson-visual-recognition:recognizeText) -->
	<watson-visual-recognition:recognize-text config-ref="Configuration"
		url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Watson Visual Recognition"/>       
<!-- END_INCLUDE(watson-visual-recognition:recognizeText) -->

<!-- BEGIN_INCLUDE(watson-visual-recognition:retrieveListOfClassifiers) -->
	<watson-visual-recognition:retrieve-list-of-classifiers config-ref="Configuration" doc:name="Watson Visual Recognition"/>       
<!-- END_INCLUDE(watson-visual-recognition:retrieveListOfClassifiers) -->
