<!-- BEGIN_INCLUDE(watson-visual-recognition:classifyImage) -->
	<watson-visual-recognition:classify-image config-ref="Configuration"
		url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Watson Visual Recognition"/>       
<!-- END_INCLUDE(watson-visual-recognition:classifyImage) -->
